rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /events/{eventId}/gallery/{fileName} {
      function isParticipant() {
        let event = firestore.get(/databases/(default)/documents/events/$(eventId));
        return event != null && (
          request.auth.uid == event.data.createdBy ||
          request.auth.uid in event.data.players
        );
      }

      // Allow any logged in user to read
      allow read: if request.auth != null;
      
      // Allow only participants to upload images < 5MB
      allow write: if request.auth != null 
                   && isParticipant()
                   && request.resource.size < 5 * 1024 * 1024
                   && (request.resource == null || request.resource.contentType.matches('image/.*'));
    }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
